{% extends 'base.html' %}

{% block content %}
    

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta nam voluptates ipsa quo veniam hic odit quas, enim tempora nostrum ab ducimus fugit itaque, eius accusamus perspiciatis suscipit quos atque quod mollitia quasi explicabo. Voluptates, ea eius! Ullam labore tempore saepe sapiente possimus asperiores accusamus nisi facilis. Totam non placeat magni iusto expedita, quaerat animi odio nobis obcaecati error labore alias corporis? Saepe velit aliquid omnis laborum eos fugiat quam sunt cupiditate, fuga sequi aliquam qui? Quam fuga excepturi temporibus corrupti aut quas, nemo nam reprehenderit modi, quisquam quod fugit dolores vitae necessitatibus incidunt asperiores assumenda minus commodi magnam!</p>

    {% endblock %}